<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @offers.limit(3).each_with_index do |photo, n| %>
      <li data-target='#myCarousel' data-slide-to="#{n}" class="#{'active' if n == 0}"></li>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active row">
      <%= inline_svg(@first.activity_type.image, options={class: "col-4", size: "100px*100px"}) %>
      <%= render partial: "offers/offer_slide", locals: { offer: @first } %>
    </div>
    <% @offers.limit(3).drop(1).each do |offer| %>
       <div class="carousel-item row">
         <%= inline_svg(offer.activity_type.image, options={class: "col-4", size: "100px*100px"}) %>
         <%= render partial: "offers/offer_slide", locals: { offer: offer } %>
       </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="bg-light">
  <div class="row cards">
    <div class="offers col-10">
      <div class="filters">
        <%= react_component("TypeFilters") %>
      </div>
      <div class="offer_cards row">
  	    <% @offers.each do |offer| %>
  	      <%= render partial: "offers/offer_card", locals: { offer: offer } %>
  	    <% end %>
      </div>
    </div>
    <div class="outlets col-2">
      <div class="outlets-title">
        <h3>Outlets</h3>
      </div>
      <% @outlets.each do |outlet| %>
        <%= render partial: "outlets/outlet_card", locals: { outlet: outlet } %>
      <% end %>
    </div>
  </div>
</div>
