<div class="outlet">
  <h5 class="location"><%= outlet.name %></h5>
  <div class="info">
    <span><%= inline_svg("email.svg", options={size: "20px*20px"}) %></span><p><%= outlet.email %></p>
  </div>
  <div class="info">
    <span><%= inline_svg("phone.svg", options={size: "20px*20px"}) %></span><p><%= outlet.phonenumber %></p>
  </div>
</div>
