<div class="col-md-4 <%= offer.activity_type.name %>">
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <h5 class="card-title"><%= inline_svg(offer.activity_type.image, options={class: "offer-icon", size: "30px*30px"}) %><%= offer.name %></h5>
      <p class="card-text"><%= offer.description %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= inline_svg("location.svg", options={class: "col-4 location", size: "30px*30px"}) %>
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
